# CMake
build/
cmake-build-*/

# Compiled binaries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# Executables
tinyjson

# Debugging
*.dSYM/
*.su
*.stackdump

# IDEs
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Coverage
*.gcda
*.gcno
*.gcov
coverage/